html {
  font-family: Georgia, serif;
  color: #fff;
  background-color: #495562;
}

.btn {
  background-color: #495562;
  border: 3px solid #97a49b;
}

.btn:hover {
  background-color: #fff;
  color: #97a49b;
  border: 3px solid #fff;
}

div div {
  max-width: 50em;
}

@media only screen and (min-width: 42em) {

  html {
    background-color: transparent;
  }

  section {
    max-height: 500px;
  }

  .btn {
    background-color: transparent;
    color: #efefef;
    border: 3px solid #efefef;
    float: right;
    margin-top: 5em;
  }

  .text {
    max-width: 25em;
    float: left;
  }

  .banner-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, 1));
    width: 100%;
  }

}
